<div class="footer-banner">
    <div class="left-section">
        <p class="source-text">Information sourced from:</p>
        <div class="logos">
            <img src="/resources/wholebanner.png" alt="Logo 1" class="left-footer-logo">
            <img src="/resources/nfpa.png" alt="Logo 2" class="left-footer-logo">
        </div>
    </div>
    <div class="wsu-container">
        <img src="/resources/washington-state-cougars-2-logo-svg-vector.svg" alt="Logo 3" class="right-footer-logo">
        <p class="wsu-text">Built by students at Washington State University - Everett</p>
    </div>
</div>
